@font-face {
  font-family: 'Geomanist';
  src: url('./fonts/Geomanist-Regular.woff2') format('woff2'),
    url('./fonts/Geomanist-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geomanist';
  src: url('./fonts/Geomanist-Medium.woff2') format('woff2'),
    url('./fonts/Geomanist-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geomanist';
  src: url('./fonts/Geomanist-Bold.woff2') format('woff2'),
    url('./fonts/Geomanist-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* position: absolute;
  width: 100%;
  height: 100%; */
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}